
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 0;
margin: 0;

}
::-webkit-scrollbar{background-color: orange;}
::-webkit-scrollbar-thumb {background-color: orange; }
::-webkit-scrollbar-track {background-color: white;}

*:focus {outline: none;}

:root {
    --coler-green :#58BA2B;
    --coler-oring :orange;
}

*{font-family:"Josefin Sans";}



/* *, *::before, *::after {
transition: all 0.1s linear;
} */

a { text-decoration: none;}

ul {
list-style: none;
margin: 0%;
padding: 0%;
}

.container { 
padding-left: 50px;
padding-right: 50px;
margin-left: auto;
margin-right: auto;
}

@media (max-width:768px) {
.container {
padding: 0px;
width: 100%;
}}

@media (min-width:768px) {
.container {
width: 750px;
}}

@media (min-width:992px) {
.container {
width: 970px;
}}

@media (min-width:1200px) {
.container {
width: 1170px;
}}

.page {
position: relative;
overflow: hidden;
}

.img {
position: absolute;
z-index: -1;
height: 100vh;
}
.img::before {
content: " ";
position: absolute;
width: 100%;
height: 800px;
background-color: rgba(0, 0, 0, 0.829);
}

.img  img{
height: 800px;
width: 100vw;
z-index: -2;
object-fit: cover;
}

@media (max-width:992px) {
    .img  img {
        height: 1400px;
        object-fit: cover;
        
    }
    .img::before {
        height: 1400px;
        
        
    }}

.footer .container {
display: flex;
justify-content: space-between;
align-items: center;
color: white;
padding: 50px 0px;
}

.footer .container .foot1 a{
color: white;
}
.footer .container .foot1 h2{
font-size: 45px;

}
.footer .container .foot{
    display: flex;
    align-items: center;

}
.footer .container .foot i{
display: flex;
align-items: center;
justify-content: center;
width: 50px;
height: 50px;
background-color: white;
border-radius: 100px;
color: var(--coler-oring);
margin-right: 10px;
}
.footer .container .foot i:hover{
background-color: var(--coler-oring);
color: white;
}

.footer .container .foot .text{
display: flex;
flex-direction: column;
line-height: 1.5;
font-size: 17px;
font-weight: 900;}



@media (max-width:992px) {
.footer .container {
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
padding-left:  20px;
padding-right:  20px;}
.footer .container .foot1 {
margin-bottom: 25px;
}
.footer .container .foot {
flex-direction: column;
margin-bottom: 25px;
width: 100%;
}
.footer .container .foot .text{
display: flex;
flex-direction: row;
}
.footer .container .foot .text span{
margin-right: 8px;
margin-top: 15px;
}}


.Home  {
background-color: #77777777;

}

.Home .container {
display: flex;
justify-content: space-between;
align-items: center;
color: white;
font-size: 17px;
padding: 0px;
border-bottom-right-radius: 50px;
}

@media (max-width:992px) {
    .Home .container {
        display: none;
    }}
.Home .container .opiton {
display: flex;
justify-content: center;
align-items: center;
margin-left: 30px;
}
.Home .container .opiton li {
    padding: 20px 0px;
margin-right: 50px;
position: relative;
}
.Home .container .opiton li:hover{
color: orange;
}
.Home .container .opiton .doom{
position: relative;
transition: 0.1;
}
.Home .container .opiton .doom li:hover{
background-color: rgba(102, 68, 5, 0.397);
}
.Home .container ul .doom i{
margin-right: 10px;
font-size: 10px;
}
.Home .container ul .doom .dorp{
display: block;
position: absolute;
transform: translateY(30px);
width: 200px;
margin: 0px;
visibility: hidden;
transition: 0.1s;
opacity: 0;
}
.Home .container ul  .doom:hover .dorp{
visibility: visible;
transform: translateY(21px);
opacity: 5;
}
.Home .container .opiton  .dorp li{
padding: 15px 20px;
width: 100%;
font-weight: 900;
background-color: rgba(255, 166, 0, 0.263);
color: white;
}
.Home .container .opiton  .dorp .down{
position: relative;
}
.Home .container .opiton  .dorp .down-option{
position: absolute;
right: -80%;
top: 0%;
opacity: 0;
visibility: hidden;
transition: 0.1s;
}
.Home .container .opiton  .dorp .down:hover .down-option{
right: -74%;
visibility: visible;
opacity: 5;}

.Home .container ul li .dorp li:not(:last-child){
border-bottom: 2px #faf8f8 solid;
}

.search {
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 60px;
height: 60px;
color:var(--coler-oring);
font-size: 30px;
background-color: white;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
transition: 0.1s ease-in 0.5s;

}
.search:hover {
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
border-top-right-radius: 0px;
border-bottom-left-radius: 0px;
}



.search  .input{
position: absolute;
padding: 0px 40px 0px 15px;
display: flex;
justify-content: center;
align-items: center;
width: 350px;
height: 40px;
bottom: -80%;
right: 100%;
background-color: rgba(255, 166, 0, 0.263);
visibility: hidden;
transition: 0.1s ease-in 0.5s;
opacity: 0;
border-top-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.search:hover .input{
visibility: visible;
opacity: 5;
bottom: -67%;

}
.search  .input input{
width:320px;
height: 100%;
bottom: -0%;
border:transparent 2px solid;
background-color: transparent;
color: white;
font-size: 17px;
}
.search  .input input::placeholder{
color: white;
}
.search  .input i{
position: absolute;
right: 5%;
color: orange;
font-size: 18px;
}

.option-midea {
visibility: hidden;
width:100% ;
height: 100px;
background-color:#77777777 ;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;
}
.option-midea select {
width: 300px;
background-color: rgba(255, 166, 0, 0.422);
height: 40px;
border: 2px solid transparent;
padding: 0px 20px;
color:white;
}
.option-midea select  option{
background-color: white;
color: orange;
padding: 15px 0px;
}

@media (max-width:992px) {
.option-midea {
visibility: visible;
}}


.text-footer  .container{
color: white;
margin-bottom: 100px;
}
@media (max-width:992px) {
.text-footer  .container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
margin-top: 100px;
}

}
.text-footer  .container q{
font-size: 20px;
margin-bottom: 15px;
}
.text-footer  .container h1{
font-size: 55px;
margin: 25px 0px;
}
@media (max-width:992px) {
.text-footer  .container h1{
width: 400px;
font-size: 45px;
line-height: 1.5;
}}
.text-footer  .container p{
font-size: 20px;
margin-bottom: 55px;
width: 60%;
line-height: 1.2;
}
.text-footer  .container span{
display: flex;
justify-content: center;
align-items: center;
font-size: 15px;
padding: 15px 20px;
background-color: orange;
color: white;
width: fit-content;
margin-bottom: 15px;
transition: 0.3s;
border: 2px solid orange;

}
.text-footer  .container span:hover{
background-color: transparent;
}

.album .container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
gap: 40px;
justify-content: center;
align-items: center;
padding: 0px 20px;

}

.album .container  .content{
min-width: 200px;
}
.album .container  .img2{
position: relative;
display: flex;
justify-content: center;
align-items: center;
height: 230px;
min-width: 315px; 
margin-bottom: 30px;
transition: 0.3s;
border-bottom-left-radius: 50px;
border-top-right-radius: 50px;
overflow: hidden;
}

.album .container  .img2:hover{
background-color: #00000071;
}
.album .container  .img2:hover i{
visibility: visible;}
.album .container  .img2 i{
position: absolute;
font-size: 25px;
color: orange;
visibility: hidden;
transition: 0.1s;
}
.album .container  .img2 img{
width: 100%;
height: 100%;
z-index: -1;
}
.album .container  .content h2{
margin-bottom: 15px;
}
.album .container  .content p{
line-height: 1.4;
}
.Read  {
background-color: #eee;
min-height: 300px;
margin: 50px 0px;
padding: 50px 0px 0px;
} 
.Read  .text{
text-align: center;
} 
.Read .text p {
margin-bottom: 15px;
font-size: 15px;
} 
.Read .container  {
padding: 50px 0px;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap: 30px;
justify-content: center;
} 
.Read .container .More  {
text-align: center;
padding:0px 20px 20px;

} 

@media (max-width:767px) {
.Read .container .More:not(:last-child) {border-bottom: 1px solid rgba(255, 166, 0, 0.479);

} }
.Read .container .More i {
font-size: 80px;
margin-bottom: 30px;
color: rgba(255, 166, 0, 0.596);
transition: 0.4s;

} 
.Read .container .More:hover i{transform: rotate(360deg);
} 
.Read .container .More h2 {
margin-bottom: 20px;
} 
.Read .container .More p {
margin-bottom: 20px;
line-height: 1.4;

} 
.Read .container .More button {
padding: 10px 20px;
background-color: var(--coler-oring);
color: white;
border: 2px orange solid;
font-size: 14px;
cursor: pointer;
transition: 0.2s;
} 
.Read .container .More button:hover{
background-color: transparent;
color: black;
} 

.icons  {
min-height: 300px;
padding: 50px 0px 0px;
} 
.icons  .text{
text-align: center;
} 
.icons .text p {
margin-bottom: 15px;
font-size: 15px;
} 
.icons .container  {
padding: 50px 0px;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
justify-content: center;
align-items: center;
} 
.icons .container .icon  {
text-align: center;
padding-bottom: 20px;
    margin-bottom: 20px;

} 
@media (min-width:700px) {
.icons .container .icon:not(:last-child) {
    
    border-right: 2px solid orange;
} }
@media (max-width:700px) {
.icons .container .icon:not(:last-child) {
    
    border-bottom: 1px solid rgba(255, 166, 0, 0.479);
} }
.icons .container .icon i {
color:orange;

font-size: 60px;
margin-bottom: 25px;

} 
.icons .container .icon:hover i{transform: rotate(360deg);
} 
.icons .container .icon h1 {
font-size: 80px;
color: #777;
margin-bottom: 20px;
transition: 0.6s;
} 
.icons .container .icon:hover h1 {
color: black;
} 
.icons .container .icon p {
color: rgb(0, 255, 42);
} 

.mitarbeit {
background-color: orange;
padding: 80px 0px;
color: white;
} 
.mitarbeit  .text{
text-align: center;
} 
.mitarbeit  .text p{
margin-bottom: 15px;
} 

.mitarbeit .container {
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
} 
@media (max-width:767px) {
.mitarbeit .container{
flex-direction: column;
padding: 0px 20px;

}
.mitarbeit .container .mit:first-child::before{
position: absolute;
content: " ";
width: 120%;
height: 2px;
background-color: white;
bottom: -10%;
left: -10%;

}
}
.mitarbeit .container .mit{
    position: relative;
display: block;
padding-top: 50px;} 

.mitarbeit .container .mit img{
position: relative;
width: 100px;
border-radius: 100px;
left: 50%;
transform: translateX(-50%);
margin-bottom: 25px;
} 
.mitarbeit .container .mit .quots,
.mitarbeit .container .mit .quots1{
display: flex;
background-color: white;
color: orange;
padding: 20px;
text-align: center;
line-height: 1.5;

} 
.mitarbeit .container .mit .quots{
border-bottom-right-radius: 50px;
border-top-left-radius: 50px;

} 
.mitarbeit .container .mit .quots1{
border-bottom-left-radius: 50px;
border-top-right-radius: 50px;
} 
.mitarbeit .container .mit .quots i,
.mitarbeit .container .mit .quots1 i{
margin-right: 10px;
font-size: 25px;
color: #ccc;
} 
.mitarbeit .container .mit .foot-text{
text-align: center;
margin-top: 20px;
} 
.mitarbeit .container .mit .foot-text h4{
margin-bottom: 6px;
font-size: 25px;
} 

.Admins {
padding: 50px 20px;
}

.Admins .text {
text-align: center;
}

.Admins .text p  {
    font-size: 14px;
margin-bottom: 15px;
}
.Admins .text h3  {
    font-size: 24px;
margin-bottom: 15px;
}

.Admins .container  {
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
margin-top: 80px;  

}

.Admins .container  .Admin  {
display: flex;
padding: 0px 20px;
}
.Admins .container  .Admin:first-child  {
border-right: 2px solid rgba(255, 166, 0, 0.466);
}
.Admins .container  .Admin .monata  {
margin-right: 20px;
display: block;
}
@media (max-width:900px) {
.Admins .container{
flex-wrap: wrap;
}
.Admins .container  .Admin  {
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin-bottom: 35px;
padding: 0px;
border-right: 2px solid transparent;}

.Admins .container  .Admin:first-child  {
border-right: 2px solid transparent;
}
.Admins .container  .Admin .monata  {
    margin: 0px;
margin-bottom: 15px;
}
}
.Admins .container  .Admin .monata p {
display: flex;
justify-content: center;
align-items: center;
height: 30px;
width: 60px;
background-color: #eee;
font-size: 20px;
padding: 5px;


}
.Admins .container  .Admin .monata .p {
border-bottom: 1px solid orange;
font-size: 30px;
color: #777;
height: 45px;
}
.Admins .container  .Admin .contenten .icon span  {
    cursor: pointer;
    color: orange;
    font-size: 13px;
    margin-right: 10px;
    
}
.Admins .container  .Admin .contenten .icon span i {
    color: #777;
    margin-right: 5px;
    
}
.Admins .container  .Admin .contenten h4 {
    margin-bottom: 15px;
    margin-top: 6px;
    font-weight: 900;
    
}
.Admins .container  .Admin .contenten p {
    line-height: 1.5;
    margin-bottom: 50px;
}
.Admins .container  .Admin .contenten a  {
font-weight: 900;
padding: 8px 20px;
background-color: orange;
color: white;
}

.Admins button  {
margin-top: 100px;
position: relative;
left: 50%;
transform: translateX(-50%);
padding: 10px 20px ;
background-color: orange;
color: white;
border: 2px solid orange;
font-size: 18px;
transition: 0.3s;
font-weight: 700;

}
.Admins button:hover{
color: orange;
background-color: transparent;
}

.foote  {
position: relative;
width: 100%;
color: white;
}

.foote .foot-img{
position: absolute;
background-image: url("New folder/ilustrasi-pc-gaming-ella-don-unsplash.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 100%;
height: 100%;
z-index: -1;
}
.foote .foot-img::before{
content: " ";
position: absolute;
left: 0%;
right: 0%;
width: 100%;
height: 100%;
background-color: #0c0c0cda;

}

.foote .head {
padding: 25px;
text-align: center;
}

.foote h2 {
padding: 25px;
font-size: 40px;
}

.foote .media  {
padding:0px 0px 25px;
display: flex;
justify-content: center;
align-items: center;

}

.foote .media i {
display: flex;
justify-content: center;
align-items: center;
color: white;
background-color:#5c5450;
width: 40px;
height: 40px;
margin: 6px;
font-size: 23px;
}

.foote .container {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 20px;
border-top: 1px solid rgba(255, 166, 0, 0.301);
padding: 50px 0px;
}

.foote .container #foo {
height: 350px;
width: 250px;
padding:0px 20px ;

}
@media (max-width:767px) {
.foote .container #foo  {
min-height: 300px;
width: 100%;
}}
.foote .container{gap: 10px;}
.foote .container #foo h3{
margin-bottom: 60px;}

.foote .container .foo1 {
padding: 5px;
}
.foote .container .foo1 p{
font-size: 15px;
margin-bottom: 15px;
padding-right: 10px;
}
.foote .container .foo1 form input{
width: 100%;
height: 40px;
margin-bottom: 15px;
padding-left: 10px;
border: 1px solid transparent;
font-size: 16px;
caret-color: orange;
}
.foote .container .foo1 form input:focus{
outline: orange 1px solid;
}
.foote .container .foo1 form input::placeholder{
font-size: 15px;
transition: 0.2s;}
.foote .container .foo1 form input:focus-within::placeholder{
opacity: 0.3;}

.foote .container .foo1 form input:last-child{
    position: relative;
width: 70px;
padding: 4px 10px;
background-color: orange;
border: 2px solid orange;
font-size: 16px;
color: white;
transition: 0.2s;
margin-left: 50%;
transform: translateX(-50%);
}
.foote .container .foo1 form input:last-child:hover{
background-color: transparent;
}

.foote .container .foo2{
padding: 5px;
}
.foote .container .foo2 .text{
padding-bottom: 22px ;
}
.foote .container .foo2 .text:last-child{
border-top: 2px solid rgba(255, 166, 0, 0.194);
padding-top: 22px ;
padding-bottom: 0px ;

}
.foote .container .foo2 .text p{
    margin-bottom: 15px;
    line-height: 1.3;
    color: rgba(255, 166, 0, 0.674);

}
.foote .container .foo2 .text span{
font-size: 14px;
color: #777;
}

.foo3 p {
color: orange;
padding: 18px 0px;
}
.foo3 p:first-child{
color: orange;
padding: 0px 0px 18px;
}
.foo3 p:not(:last-child) {
border-bottom: 1px #77777763 solid;
}
.foo4  {
    padding: 0px;
}
.foo4 .foto-count {
display: flex;
justify-content: start;
align-items: center;
flex-wrap: wrap;
gap: 15px;
}
.foo4 .imgg { 
display: flex;
justify-content: start;
align-items: center;
flex-wrap: wrap;
gap: 10px;
width: 280px;
}

.foo4 img {
width: 85px;
height: 85px;
filter: brightness(100%);
}


@media (max-width:767px) {

.foo4 .imgg {
min-height:auto;
justify-content: center;
margin: auto;
}}

.end-page {
display: flex;
align-items: center;
justify-content: space-between;
background-color: #000;
padding: 25px 20px;
color: rgba(245, 222, 179, 0.381);

}
@media (max-width:767px) {

    .end-page {
        display: block;
    padding: 10px 10px;
    font-size: 17px; 
    line-height: 1.5;
    text-align: center;
    color: rgba(245, 222, 179, 0.381);
    }
    .end-page p{
        
    margin-bottom: 10px;
    }}

/* {} */










